
<%= form_with model: @user, local: true do |form| %>

 <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being created:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :pwd %><br>
    <%= form.text_field :pwd %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
