<p>
<h1>Name:</h1>
<%= @user.name %>
<h1> Password: </h1>
<%= @user.pwd %>
</p>

<h1>Jobs</h1>
<%= render @user.jobs %>

<%= form_with(model: [ @user, @user.jobs.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%# <%= link_to 'Add a New Job', new_user_job_path(@user) %> %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
