<p>
<h1>Name:</h1>
<%= @user.name %>
<h1> Password: </h1>
<%= @user.pwd %>
</p>

<h1>Jobs</h1>
<%= render @user.jobs %>

<h2>Add Job</h2>
<%= render 'jobs/form' %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
